# Go build artifacts
/bin/
/build/
/dist/
*.exe
*.dll
*.so
*.dylib


# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Dependency directories
vendor/

*.db
pkg/cloud/real_test.go
fireflow
*debug*

scripts/

data/